// 기본 팔레트
$color-d5-blue: rgb(47, 90, 157,100%);
$color-d4-blue: rgb(59, 105, 190, 100%);
$color-d3-blue: rgb(80, 133, 231, 100%);
$color-d2-blue: rgb(106, 158, 255, 100%);
$color-d1-blue: rgb(180, 206, 255, 100%);

// 회색조 팔레트
$line-black: rgba(0, 0, 0, 0.2);
$base-black: rgb(41, 47, 54, 100%);
$color-d4-gray: rgb(129, 129, 129, 100%);
$color-d3-gray: rgb(208, 208, 208, 100%);
$color-d2-gray: rgb(235, 235, 235, 100%);
$color-base-white: rgb(255, 255, 255, 100%);

// 적색조 팔레트
$color-d5-red: rgb(210, 29, 38, 100%);
$color-d4-red: rgb(222, 48, 61, 100%);
$color-d3-red: rgb(240, 58, 71, 100%);
$color-d2-red: rgb(255, 111, 121, 100%);
$color-d1-red: rgb(255, 154, 161, 100%);

// 알림 팔레트
$color-failure: rgb(231, 76, 60, 100%);
$color-success: rgb(46, 204, 113, 100%);
$color-warning: rgb(241, 196, 15, 100%);


$header-desktop-line-height: 70px;
$header-mobile-line-height: 50px;
